.servicios {
  background: #fff;
  background-image: url("./../img/SERVICIOS/BG_SERVICIOS.png");
  /* background-position-x: center; */
  /* background-repeat: no-repeat; */
  background-size: contain;
  min-height: 100vh;
  width: 100%;
}
.content-servicios {
  height: 100%;
  width: 100%;
  padding: 5%;
}
.content-servicios h2 {
  font-family: "Righteous";
  font-weight: bold;
  color: var(--azulfuerte);
}

.content-servicios h3 {
  color: var(--azulclaro);
}
.content-servicios p {
  text-align: center;
  color: var(--azulfuerte);
  font-weight: bold;
}
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.servicios-item {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicios-item img {
  width: 100%;
}

@media (max-width: 1023px) {
  .servicios {
    background-image: url("./../img/SERVICIOS/BG_SERVICIOS_RESPONSIVE.png");
    background-size: contain;
    background-repeat: repeat;
  }
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .content-servicios h2 {
    padding: 3rem 0 0;
  }
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .servicios-item {
    align-items: center;
  }
  .servicios-item img {
    width: 75%;
  }
}
